/*
 By Jasdeep Khalsa - @JasdeepKhalsa1
 Styled with the Solarized theme by Ethan Schoonver: http://ethanschoonover.com/solarized
 */

body {
	font-family: Verdana, Tahoma;
}

.tw-wrapper {
	display: block;
	margin: 0 auto;
	width: 600px;
	height: auto;
	border: 1px solid #eee8d5;
	border-radius: 10px;
	padding: 10px;
}

.tw-tweet {
	font-size: 40px;
	color: #93a1a1;
}

.tw-count {
	text-align: center;
	font-size: 200px;
	margin-bottom: 10px;
	color: #268bd2;
	text-shadow: 5px 5px #eee8d5;
}

.tw-username {
	color: #b58900;
}

.tw-delimiter {
	color: #6c71c4;
}

.tw-text {
	color: #2aa198;
}